@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
}

.div_top {
	width: 1130px;
	height: 98px;
	margin: 0 auto;
}

.div_logo {
	width: 200px;
	height: 98px;
}

.div_logo img {
	width: 200px;
	height: 98px;
}

.div_home {
	margin: 0 auto;
	height: 588px;
	overflow: hidden;
}

.div_home a img {
	position: relative;
	/* 	left: 50%;
	transform: translateX(-50%); */
	width: 100%;
	height: 100%;
}

.div_dl_1 {
	position: absolute;
	width: 1130px;
	height: 556px;
	left: 50%;
	top: 0;
	padding-top: 130px;
	transform: translateX(-50%);
}

.div_dl_2 {
	width: 410px;
	height: 556px;
	float: right;
	margin-bottom: 0;
	background-color: #fff;
	text-align: center;
}

.div_dl_3 {
	width: 410px;
	height: 32px;
	padding: 27px 0 24px;
	font-size: 24px;
}

.div_dl_3 div a {
	width: 96px;
	height: 24.6px;
	text-decoration: none;
}

.div_dl_3 div a:nth-child(1) {
	color: #f66600;
}

.div_dl_3 div a:nth-child(3) {
	color: #000;
}

.div_dl_3 div span {
	width: 28.2;
	height: 2px;
	margin: 0 38px 0 39px;
	color: #B0B0B0;
}

.div_dl_4 {
	width: 410px;
	height: 416.2px;
}

.div_dl_5 {
	width: 348px;
	height: 416.2px;
	margin: 0 auto;
}

.div_dl_6 {
	margin-top: 12px;
	width: 348px;
	height: 124px;
}

.div_dl_6 input {
	width: 316px;
	height: 21px;
	padding: 14px 16px 13px 14px;
	margin: 0 0 14px;
	border: 1px solid #E0E0E0;
}

.div_dl_7 {
	width: 348px;
	height: 50px;
	padding: 12px 0 0;
}

.div_dl_7 input {
	width: 348px;
	height: 50px;
	padding: 0;
	background-color: #ff6700;
	border: none;
	font-size: 14px;
	color: #fff;
}

.div_dl_8 {
	margin-top: 9px;
	width: 348px;
	height: 209.2px;
}

.div_dl_8 a {
	float: left;
	width: 120px;
	height: 19.2px;
	font-size: 14px;
	text-decoration: none;
	color: #ff6700;
}

.div_dl_9 {
	float: right;
}

.div_dl_9 a {
	width: 76px;
	height: 16px;
	font-size: 14px;
	color: #999999;
}

.div_dl_10 {
	width: 348px;
	height: 66.2px;
	padding: 133px 0 0;
}

.div_dl_10 span {
	width: 125px;
	height: 19.2px;
	font-size: 14px;
	color: #999999;
}

.line {
	display: inline-block;
	border-bottom: 1px solid #cccccc;
	vertical-align: 5px;
}

.div_dl_10>div {
	width: 348px;
	height: 33px;
	padding: 13px 0 0;
}

.div_dl_10 div div {
	width: 256px;
	height: 30px;
	margin: auto;
}

.div_dl_10 div a {
	width: 30px;
	height: 30px;
	margin: 0 17px;
}

.div_dl_10 div a img {
	width: 31px;
	height: 31px;
}

.div_botton {
	text-align: center;
	padding-top: 100px;
	font-size: 14px;
	color: #757575;
}

.div_botton div ul {
	margin: 0;
	padding: 0;
}

.div_botton div ul li {
	display: inline-block;
	list-style: none;
}

.div_botton div ul li a {
	width: 28px;
	height: 19.2px;
	padding: 0 10px;
	text-decoration: none;
	color: #757575;
}

.div_botton p {
	margin: 0;
	padding: 10px;
}

.div_botton p a {
	text-decoration: none;
	color: #757575;
}

.div_botton div ul li a:hover {
	color: #333333;
}

.div_botton div ul li a:active {
	color: #333333;
}